body{
    background: rgb(229, 126, 255);
    background: linear-gradient(
        90deg,
        rgb(178, 9, 220) 12%,
        rgba(6, 132, 216, 1) 100%
    );
}
.bloc1{
    gap: 1%;
}
.bloc2{
    margin-left: 30%;
    margin-right: 30%;
}